* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
  background: hsl(216, 29%, 20%);
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;



  .background-mobile {
    position: absolute;
    display: none;
    // width: 100%;
    z-index: 1;
    margin-top: -150%;
  
    img {
      width: 100%;
      height: 100%;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    z-index: 10;
    
    button {
     padding: 10px 30px;
     border-radius: 10px;
     margin: 10px 0px;
     font-size: larger;
     color: white;
     background: hsl(198, 60%, 50%);
     border: 0.5px solid hsl(198, 60%, 50%);
     cursor: pointer;

     &:hover {
      background: hsl(198, 64%, 59%);
    }
     
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    align-items: center;
    margin-top: 20px;

    ul {
  display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   li {
    color: grey;
    margin-right: 20px;
    text-decoration: none;
    list-style: none;
     cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: white;
    }
   }
  }
}
 .display-section {
  background: hsl(218, 28%, 13%);
   .display-section-1 {
    padding: 0px 20% ;
     display: grid;
     grid-template-columns: auto auto ;
     gap: 50px;
     width: 100%;
     justify-content: center;
     align-items: center;
     z-index: 10;
     color: white;
     background: hsl(218, 28%, 13%);
    
   .display-1, .display-2, .display-3, .display-4 {
     justify-content: center;
     align-items: center;
     text-align: center;
     z-index: 10;
     img {
       margin-bottom: 20px;
     }
   }
   }
   
   .display-section-2 {
     display: flex;
     padding: 10% 5%;
     justify-content: space-between;
    //  background:hsl(218, 28%, 13%);
     z-index: 10;
    
   
     .stay-productive {
       color: white;
       width: 45%;
       margin-top: 10%;
   
       p {
         color: rgb(216, 198, 198);
         margin-top: 15px;
         span {
           text-decoration: underline;
           cursor: pointer;
           img {
             color: white;
             width: 15px;
             height: 15px;
             align-items: center;
           }
           &:hover {
             color: white;
           }
         }
       }
   
     }
   }

   .display-section-3 {
    padding: 10% 5%;
    justify-content: space-between;
    margin-bottom: 10%;
    .cards {
      display: flex;
      justify-content: space-between;
     margin-top: -10px;
     margin-left: 5px;
      .card {
        color: rgb(206, 183, 183);
        background: hsl(219, 30%, 18%);
        margin-right: 30px;
        padding: 30px 20px;
   img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .designation {
          display: flex;
          align-items: center;
          margin-top: 15px;
        }
      }
    }
   }


  
 }




 .display-section-4 {
  padding-top: 20%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  width: 100%;
  background: hsl(222, 29%, 9%);
 //  position: relative;
  .footer-card {
   box-shadow: 1px 1px 1px hsl(214, 100%, 1%) ;
   width: 50%;
   background: hsl(214, 23%, 19%);
   color: white;
   padding: 20px 40px;
   position: absolute;
   margin-top: -30%;
   margin-left: 20%;
   text-align: center;

   h1 {
     font-size: 2rem;
     margin-bottom: 10px;
   }
   p {
     margin-bottom: 10px;
   }
  .actions {
   margin-top: 20px;
   display: flex;
   .inputfield {
     width: 60%;
     p {
       color: red;
       font-size: 14px;
       margin-top: 2px;
     }
     input {
       font-size: 1rem;
       padding: 10px 10px;
       width: 100%;
       border: none;
       border-radius: 40px;
       margin-right: 30px;
       &:focus {
         // border: none;
         outline: none;
       }
     }
   }
   .btn {
     width: 35%;
     margin-left: 10px;
     button {
       font-size: 0.8rem;
       padding: 10px 10px;
       width: 100%;
       outline: none;
       border-radius: 40px;
       color: white;
       background: hsl(198, 60%, 50%);
       border: 0.5px solid hsl(198, 60%, 50%);
       cursor: pointer;
  
       &:hover {
        background: hsl(198, 64%, 59%);
      }
       
     }
   }
  }
 }
   .footer-lists {
     margin-top: 10px;
     display: flex;
     color: white;
     justify-content: space-around;
      margin-right: 5%;
     .footer-list1 {
       display: flex;
       width: 100%;
       img {
         width: 10%;
         height: 10%;
         margin-right: 10px;
       }
     }
    .footer-list2,.footer-list3,.footer-list4 {
       display: flex;
       flex-direction: column;
       width: 100%;
       align-items: center;
       span {
         margin-bottom: 10px;
         img {
           margin-right: 10px;
         }
       }
       ul {
             li {
               list-style: none;
               margin-bottom: 20px;
             }
           }
     }

     .footer-list5  {
      width: 60px;
      height: 30px;
      display: flex;
      flex-direction: row;

      img {
        width: 100%;
        margin-right: 5px;
      }
     }
    
   }
  }



.background-desktop {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: -150%;

  img {
    width: 100%;
    height: 100%;
  }
}



}

@media screen and (max-width: 425px) {
  .App {
   width: 100%;
 position: relative;
   .background-mobile {
    position: absolute;
    height: 10%;
    width: 120%;
    margin-left: -20%;
    display: block;
    margin-top: -750%;
   }
header {
  width: 95%;
  margin-left: 5%;
  .logo {
    width: 40%;
    img {
      width: 80%;
    }
  }
}

 .body {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
   img {
    width: 80%;
   }
 }
 
   .background-desktop {
     display: none;
   }
   .display-section {
    padding: 0px 30px;
    width: 100%;
    padding-bottom: 40%;

    .display-section-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .display-section-2 {
      flex-direction: column;
      width: 100%;
      
      .stay-productive {
        width: 100%;
      
        h1 {
          font-size: 1rem;
        }
      }
    
    }
    .display-section-3 {
      // background: red;
      padding: 0px 0px;
     width: 100%; 
    //  background: red;
     .cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
    .card {
      margin-bottom: 20px;
    }
    }
    }


    

   }

   .display-section-4 {
    width: 100%;
    

    .footer {
      margin-top: 40%;
    }
    .footer-card {
     width: 90%;
     margin-left: -5%;
     margin-top: -50%;
     padding: 10px 20px;
     border-radius: 10px;


     .actions {
    flex-direction: column;
 
    .btn {
      width: 100%;
      margin-left: 0px;
    }
    .inputfield {
      width: 100%;
      input {
        font-size: 0.8rem;
        width: 100%;
        // padding: 10px 40px;
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
    
     }
    }
     .footer-lists {
   flex-direction: column;
   
   
 
   .footer-list1, .footer-list2, .footer-list3 {
     width: 100%;
     margin-bottom: 60px;
    


     p {
       
       width: 300%;
       margin: 0px 0px;
     }
   }
   .footer-list2 {
    span {

      align-items: left;
      margin-left: -40%;
    }
   
  }
   
  .footer-list5  {
    margin-left: 30%;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: row;
    background:red;

    img {
      width: 100%;
      margin-right: 5px;
    }
   }
   
     }

     
    }


   
    
    
  }
 }





 @media screen and (max-width: 375px) {
  .App {

    .background-mobile {
      position: absolute;
      height: 10%;
      width: 120%;
      margin-left: -20%;
      display: block;
      margin-top: -900%;
     }


   .display-section-4 {
    
    .footer {
      margin-top: 60%;
    }
  }
  }
  
 }